
/*  */
body{
    background-color: aquamarine;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.caja1{
    width: 350px;
    height: 100px;
    border: 3px solid violet;
}

.caja2{
width: 500px;
height: 200px;
padding: 10px 50px 20px;

}

.caja2{
    color: blueviolet;
}

.caja3{
    width: 400PX;
    height: 200PX;
    margin-bottom: 2rem;
    margin: 0 auto;
    border: 10px solid greenyellow;

}
.caja{

width: 600px;
height: 400px;
border: 10px solid black; 
}

.caja4{

    color: darkgoldenrod;
  
}